.height {
    height: 720px;
    background-color: rgba(243, 146, 0, 0.192);
}

.dark-overlay {
    background-color: rgba(0, 0, 0, 0.274);
}

.extra-info {
    position: absolute;
    left: -400px;
}

.item-box:hover .item-img {
    transform: scale(1.2);
    transition: .4s;
}

.item-box:hover .dark-overlay {
    transition: .4s;
    background-color: rgba(5, 70, 5, 0.405);
}

.item-box:hover .extra-info {
    transition: .4s;
    left: 20px;
}

@media (max-width: 576px) {
    .item-img {
        height: 370px;
    }
}