.overlay {
    background-image: linear-gradient(0deg, rgba(25, 134, 83, 0.402), rgba(255, 255, 255, 0));
    width: 100%;
    top: 400px;
}

.extra-information {
    position: absolute;
    left: -400px;
}

.card:hover .overlay {
    position: absolute;
    top: 0px;
    transition: .8s;
    background-image: linear-gradient(0deg, rgba(25, 134, 83, 0.667), rgba(255, 255, 255, 0));
}

.card:hover .extra-information {
    transition-duration: .7s;
    transition-delay: .5s;
    left: 20px;

}

.sup-image {
    width: 100%;
}

.card {
    box-shadow: 7px 15px 20px rgb(58, 62, 60);
}

.sup-image:hover .card {
    box-shadow: 7px 15px rgb(238, 21, 54);
}

.card:hover .sup-image {
    transform: scale(1.2);
    transition: 1.3s;
}

.name-bg {
    width: 350px;
    position: absolute;
    top: 150px;
}

.name {
    left: 15px;
    top: 156px;
}

.location {
    top: 165px;
    left: 13px;
}

@media (max-width: 576px) {
    .name {
        left: 15px;
        top: 172px;
    }

    .location {
        top: 178px;
        left: 3px;
    }

    .name-bg {
        width: 270px;
        position: absolute;
        top: 170px;
    }

    .sup-image {
        height: 250px;
    }
}