.link {
    color: white;
}

.link:hover {
    color: orange;
    transition: .2s;
    font-size: large;
}

.header {
    height: 60px;
    width: 100%;
    background-image: linear-gradient(45deg, #198754, rgba(255, 255, 255, 0));
}

.space {
    margin-right: 700px;
}

.nav {
    margin-left: 75px;
}

.header-btn {
    display: none;
}

@media (max-width: 576px) {
    .header {
        height: 0px;
    }

    .header-btn {
        display: block;
    }

    .nav {
        margin-left: 0px;
    }

    .space {
        margin-right: 0;
    }

    .header {
        background-color: rgba(0, 0, 0, 0);

    }

    .btn-link-1 {
        position: absolute;
        left: 278px;
        top: 1px;
        transition: 0.5s;
    }

    .btn-link-2 {
        position: absolute;
        left: 2px;
        top: 1px;
        transition: 0.5s;
    }

    .nav-1 {
        width: 285px;
        background-color: #198754;
        position: absolute;
        top: -2px;
        left: -10px;
        transition: 0.5s;
        height: 900px;
    }

    .nav-2 {
        position: absolute;
        top: -2px;
        left: -300px;
        transition: 0.5s;
        height: 900px;
    }

    .header-bg {
        background-color: #1563158a
    }
}