.link {
    color: white;
}

.link:hover {
    color: orange;
    transition: .2s;
    font-size: large;
}

.header {
    height: 60px;
    background-color: rgba(16, 16, 16, 0.444);
}

.header-bg {
    background-color: rgba(16, 16, 16, 0);
}

.space {
    margin-right: 700px;
}

.nav {
    margin-left: 75px;
}

.header-btn {
    display: none;
}

@media (max-width: 576px) {
    .header-btn {
        display: block;
        background-color: rgba(16, 16, 16, 0.444);
    }

    .nav {
        margin-left: 0px;
    }

    .space {
        margin-right: 0;
    }

    .header {
        background-color: rgba(0, 0, 0, 0);
    }

    .nav-1 {
        position: absolute;
        top: 38px;
        left: -10px;
        transition: 0.5s;
    }

    .nav-2 {
        position: absolute;
        top: 38px;
        left: -180px;
        transition: 0.5s;
    }

    .header-bg {
        background-color: rgba(16, 16, 16, 0.444);
    }
}