.link {
    color: white;
}

.link:hover {
    color: orange;
    transition: .2s;
    font-size: large;
}

.header {
    height: 60px;
    background-color: rgba(16, 16, 16, 0.444);
}

@media (max-width: 576px) {
    .header {
        margin-top: 20px;
        height: 150px;
        position: absolute
    }
}